$font-primary: 'Lato', sans-serif;
$font-secondary: 'Lobster', cursive;

/* Color Theme Swatches in Hex */
$color-primary: #735698;
$color-primary-dark: #543A86;
$color-secondary: #A274A7;
$color-secondary-light: #D897BC;
$color-light: #E9D698;