.header {
    width: 100%;
    background-color: $color-primary-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        color: $color-light;
        font-family: $font-secondary;
        font-size: 3rem;
        padding: 1rem 2rem;
    }

    &__navigation {

        &-list {
            padding: 1rem 2rem;
        }
    
        &-item {
            display: inline-block;

            &:not(:last-child) {
                padding-right: 1rem;
            }
        }

        &-link {
            font-size: 1.5rem;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 300;
            border-bottom: 3px solid transparent;
            transition: all .5s;

            &:link,
            &:visited {
                color: $color-light;
            }

            &:hover {
                border-bottom: 3px solid $color-secondary;
            }
        }

    }
}