@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Lobster&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
}

.heading-primary {
    display: block;
    text-align: center;
    font-family: $font-secondary;
    color: $color-primary;
    font-size: 4rem;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}